{% extends "layouts/main.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
    {% comment %} <link rel="stylesheet" href="{%static 'css/txtbox.css'%}"> {% endcomment %}
{% endblock %}

{% block title %} Información {% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row g-3">
            {% comment %}  Columna izquierda: Información del paciente  {% endcomment %}
            <div class="col-md-6">
                {% if user.role.nombre_rol and user.role.nombre_rol == "paciente" %} {% comment %}{% endcomment %}
                    <h2 class= "fuente-seasons">Información del paciente</h2>
                {% elif user.role.nombre_rol == "medico" %}
                    <h2 class= "fuente-seasons">Información del médico</h2>
                {% else %} {% comment %}{% endcomment %}
                    <h2 class= "fuente-seasons">N/A</h2> {% comment %}{% endcomment %}
                {% endif %}
                <p><strong class= "fuente-belleza">Nombres:</strong> {{ informacion.nombres }}</p>
                <p><strong class= "fuente-belleza">Apellido paterno:</strong> {{ informacion.apellido_paterno }}</p>
                <p><strong class= "fuente-belleza">Apellido materno:</strong> {{ informacion.apellido_materno }}</p>
                <p><strong class= "fuente-belleza">Correo:</strong> {{ informacion.email }}</p>
                <p><strong class= "fuente-belleza">Sexo:</strong> {{ informacion.sexo }}</p>
                <p><strong class= "fuente-belleza">Fecha de nacimiento:</strong> {{ informacion.fecha_nacimiento }}</p>
                <p><strong class= "fuente-belleza">Carrera o puesto:</strong> {{ informacion.carrera_o_puesto }}</p>
            </div>
            {% comment %} Columna derecha: Formulario de cambio de contraseña {% endcomment %}
            <div class="col-md-6">
                {% comment %} Mensajes {% endcomment %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <h2 class= "fuente-seasons">Cambiar contraseña</h2>
                <form method="POST" action="{% url 'cambiar_contrasena' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="current_password" class="form-label fuente-belleza">Contraseña actual:</label>
                        <input type="password" id="current_password" name="current_password" class="form-control" required>
                        <input type="checkbox" name="showPassword1" id="showPassword1" class="form-check-input">
                        <label for="showPassword1" class="text-muted fuente-belleza">Mostrar contraseña</label>
                    </div>
                    <div class="mb-3">
                        <p style="color: gray;">Te recomendamos colocar una contraseña segura y que puedas recordar.</p>
                        <label for="new_password" class="form-label fuente-belleza">Nueva contraseña:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                        <input type="checkbox" name="showPassword2" id="showPassword2" class="form-check-input">
                        <label for="showPassword2" class="text-muted fuente-belleza">Mostrar contraseña</label>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label fuente-belleza">Confirmar nueva contraseña:</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        <input type="checkbox" name="showPassword3" id="showPassword3" class="form-check-input">
                        <label for="showPassword3" class="text-muted fuente-belleza">Mostrar contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary fuente-belleza">Cambiar contraseña</button>
                </form>
            </div>
        <br><br><br>
        <div class="col-mb-4">
                <h2 class="fuente-seasons">Contactos de Emergencia</h2>
                <button type="button" class="btn btn-primary fuente-belleza" data-bs-toggle="modal" data-bs-target="#contactoModal">
                    Agregar contactos
                </button>
            </div>
        </div>

        <div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title fuente-seasons" id="contactoModalLabel">Contactos de Emergencia</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Body -->
                    <div class="modal-body">
                        <form id="contactosForm" method="POST" action="{% url 'guardar_contactos' %}">
                            {% csrf_token %}
                            <div id="contactosContainer">

                                <!-- Contacto 1 -->
                                <div class="contacto-item border p-3 mb-3 rounded">
                                    <h6 class="fw-bold text-primary fuente-belleza">Contacto 1</h6>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Nombre completo</label>
                                        <input type="text" name="nombre_1" class="form-control"
                                            value="{% if contactos|length > 0 %}{{ contactos.0.nombre }}{% endif %}"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Parentesco</label>
                                        <input type="text" name="parentesco_1" class="form-control"
                                            value="{% if contactos|length > 0 %}{{ contactos.0.parentesco }}{% endif %}"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Teléfono</label>
                                        <input type="text" name="telefono_1" class="form-control"
                                            value="{% if contactos|length > 0 %}{{ contactos.0.telefono }}{% endif %}"
                                            
                                    </div>
                                </div>

                                <!-- Contacto 2 -->
                                <div class="contacto-item border p-3 mb-3 rounded">
                                    <h6 class="fw-bold text-primary fuente-belleza">Contacto 2</h6>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Nombre completo</label>
                                        <input type="text" name="nombre_2" class="form-control"
                                            value="{% if contactos|length > 1 %}{{ contactos.1.nombre }}{% endif %}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Parentesco</label>
                                        <input type="text" name="parentesco_2" class="form-control"
                                            value="{% if contactos|length > 1 %}{{ contactos.1.parentesco }}{% endif %}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label fuente-belleza">Teléfono</label>
                                        <input type="text" name="telefono_2" class="form-control"
                                            value="{% if contactos|length > 1 %}{{ contactos.1.telefono }}{% endif %}"
                                            
                                    </div>
                                </div>

                            </div>

                            <div class="text-end">
                                <button type="submit" class="btn btn-success fuente-belleza">Guardar contactos</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

<script>
    const showPassword1Checkbox = document.getElementById('showPassword1');
    const showPassword2Checkbox = document.getElementById('showPassword2');
    const showPassword3Checkbox = document.getElementById('showPassword3');

    const currentPasswordInput = document.getElementById('current_password');
    const newPasswordInput = document.getElementById('new_password');
    const confirmPasswordInput = document.getElementById('confirm_password');

    showPassword1Checkbox.addEventListener('change', function() {
        if (showPassword1Checkbox.checked) {
            currentPasswordInput.type = 'text';
        } else {
            currentPasswordInput.type = 'password';
        }
    });

    showPassword2Checkbox.addEventListener('change', function() {
        if (showPassword2Checkbox.checked) {
            newPasswordInput.type = 'text';
        } else {
            newPasswordInput.type = 'password';
        }
    });

    showPassword3Checkbox.addEventListener('change', function() {
        if (showPassword3Checkbox.checked) {
            confirmPasswordInput.type = 'text';
        } else {
            confirmPasswordInput.type = 'password';
        }
    });

</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const agregarBtn = document.getElementById('agregarContactoBtn');
    const container = document.getElementById('contactosContainer');
    let contactoCount = 1;

    agregarBtn.addEventListener('click', function() {
        if (contactoCount >= 2) {
            alert("Solo puedes agregar hasta 2 contactos de emergencia.");
            return;
        }

        contactoCount++;
        const nuevoContacto = document.createElement('div');
        nuevoContacto.classList.add('contacto-item', 'border', 'p-3', 'mb-3', 'rounded');
        nuevoContacto.innerHTML = `
            <h6 class="fw-bold text-primary fuente-belleza">Contacto ${contactoCount}</h6>
            <div class="mb-3">
                <label class="form-label fuente-belleza">Nombre completo</label>
                <input type="text" name="nombre_${contactoCount}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label fuente-belleza">Parentesco</label>
                <input type="text" name="parentesco_${contactoCount}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label fuente-belleza">Teléfono</label>
                <input type="text" name="telefono_${contactoCount}" class="form-control" placeholder="+521234567890" required>
            </div>
        `;
        container.appendChild(nuevoContacto);
    });
});
</script>

{% endblock %}