{% extends "layouts/main.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block title %}Dashboard de médico{% endblock %}


{% block content %}

    <h2 clss="modal-title fuente-seasons">Estadísticas de pacientes</h2>
    <form method="get" action="{% url 'reporte_r09' %}" class="mb-4 mt-2">
        <!-- Tipo de periodo -->
        <label>Periodo:</label>
        <select name="periodo" id="periodo" class="form-select">
            <option value="mensual">Mensual</option>
            <option value="trimestral">Trimestral</option>
        </select>

        <!-- Año -->
        <label>Año:</label>
        <input type="number" name="anio" class="form-control" value="2026">

        <!-- Mes -->
        <div id="mes_container">
            <label>Mes:</label>
            <select name="mes" class="form-select">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <!-- Trimestre -->
        <div id="trimestre_container" style="display:none;">
            <label>Trimestre:</label>
            <select name="trimestre" class="form-select">
                <option value="1">Ene - Mar</option>
                <option value="2">Abr - Jun</option>
                <option value="3">Jul - Sep</option>
                <option value="4">Oct - Dic</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success mt-2">
            Descargar Reporte R09
        </button>

    </form>

    <div class="card mb-4">
        <div class="card-body">
            <div>{{ genero_pastel|safe }}</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div>{{ genero_graph|safe }}</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div>{{ padecimientos_graph|safe}}</div>
        </div>
    </div>

    {% comment %} Gráfica de hábitos {% endcomment %}
    <div class="card mb-4">
        <div class="card-body">
            <div>{{ habitos_graph|safe }}</div>
        </div>
    </div>

    {% comment %} Gráfica de tipos de consultas {% endcomment %}
    <div class="card mb-4">
        <div class="card-body">
            <div>{{ consultas_graph|safe }}</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div>{{ areas_graph|safe }}</div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        document.getElementById("periodo").addEventListener("change", function() {
            const tipo = this.value;

            document.getElementById("mes_container").style.display =
                tipo === "mensual" ? "block" : "none";

            document.getElementById("trimestre_container").style.display =
                tipo === "trimestral" ? "block" : "none";
        });
    </script>
{% endblock %}
    

