{% extends "layouts/main.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <style>
        .table-hover-row tr:hover {
            cursor: pointer;
        }
        .truncate {
            max-width: 200px;       /* Ajusta según tu diseño */
            white-space: nowrap;    /* Impide que el texto se divida en varias líneas */
            overflow: hidden;       /* Oculta el texto que se desborda */
            text-overflow: ellipsis; /* Añade "..." al final del texto truncado */
        }
    </style>
{% endblock %}

{% block title %} Consultas realizadas {% endblock %}

{% block content %}

<h1 class="modal-title fuente-seasons">{% if mostrar_todas %}Todas las consultas{% else %}Mis consultas{% endif %}</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}


<a href="{% url 'exportar_consultas_excel' %}" class="btn btn-success fuente-belleza float-end">
  Exportar consultas a Excel
</a>



<a class="btn btn-success fuente-belleza" href="{% url 'crear_consulta' %}">Crear nueva consulta</a><br><br>

<div class="mb-3 fuente-belleza">
    {% if mostrar_todas %}
        <a href="?todas=0" class="btn btn-primary">Mostrar solo mis consultas</a>
        <form method="GET" class="mb-3"> <!--Formulario que contiene las opciones busqueda-->
          <input type = "hidden" name = "todas" value ="1">
          <div class="row g-3 d-flex justify-content-center align-items-center mb-4 mt-3">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="clave_paciente" class="form-label">Clave del Paciente:</label>
                    <input type="text" class="form-control" id="clave_paciente" name="clave_paciente" value="{{ request.GET.clave_paciente }}">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="fecha_fin" class="form-label">Fecha de Fin:</label>
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
                </div>

                <div class="col-12 col-md-6 col-lg-3 d-flex gap-2">
                    <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    <a href="{% url 'medico_consultas' %}{% if mostrar_todas %}?todas=1{% endif %}" class="btn btn-danger w-100">Cancelar</a>
                </div>
            </div>
      </form>
    {% else %}
        <a href="?todas=1" class="btn btn-secondary">Mostrar todas las consultas</a>
        <form method="GET" class="mb-3"> <!--Formulario que contiene las opciones busqueda-->
            <div class="row g-3 d-flex justify-content-center align-items-center mb-4 mt-3">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="clave_paciente" class="form-label">Clave del Paciente:</label>
                    <input type="text" class="form-control" id="clave_paciente" name="clave_paciente" value="{{ request.GET.clave_paciente }}">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label for="fecha_fin" class="form-label">Fecha de Fin:</label>
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
                </div>

                <div class="col-12 col-md-6 col-lg-3 d-flex gap-2">
                    <button type="submit" class="btn btn-primary w-100">Buscar</button>
                    <a href="{% url 'medico_consultas' %}{% if mostrar_todas %}?todas=1{% endif %}" class="btn btn-danger w-100">Cancelar</a>
                </div>
            </div>
      </form>
    {% endif %}
</div>

<table class="table table-striped fuente-belleza">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Padecimiento/Tratamiento</th>
        </tr>
    </thead>
    <tbody class="table-hover-row fuente-belleza">
        {% for consulta in consultas %}
        <tr data-bs-toggle="modal" data-bs-target="#detalleConsultaModal"
            data-fecha="{{ consulta.fecha }}"
            data-padecimiento="{{ consulta.padecimiento_actual }}"
            data-tratamiento-no-farmacologico="{{ consulta.tratamiento_no_farmacologico }}"
            data-tratamiento-farmacologico="{{ consulta.tratamiento_farmacologico_recetado }}"
            data-categoria-padecimiento="{{ consulta.categoria_de_padecimiento }}"
            data-clave-paciente="{{ consulta.clave_paciente }}"
            data-clave-medico="{{ consulta.clave_medico }}"
            data-signos='{
                "peso": "{{ consulta.signos_vitales.peso }}",
                "talla": "{{ consulta.signos_vitales.talla }}",
                "temperatura": "{{ consulta.signos_vitales.temperatura }}",
                "frecuencia_cardiaca": "{{ consulta.signos_vitales.frecuencia_cardiaca }}",
                "frecuencia_respiratoria": "{{ consulta.signos_vitales.frecuencia_respiratoria }}",
                "presion_arterial": "{{ consulta.signos_vitales.presion_arterial }}",
                "imc" : "{{consulta.signos_vitales.imc}}"

            }'>
            <td>{{ consulta.fecha }}</td> <!--Datos de la consulta que se previsualizan -->
            <td>{{ consulta.clave_paciente }}</td>
            <td class="truncate">{{ consulta.padecimiento_actual }} / {{ consulta.tratamiento_farmacologico_recetado }}</td>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="detalleConsultaModal" tabindex="-1" aria-labelledby="detalleConsultaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fuente-seasons fw-bold" id="detalleConsultaModalLabel">Detalles de la Consulta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fuente-belleza">
                <p><strong>Fecha:</strong> <span id="detalleFecha"></span></p>
                <p><strong>Clave paciente:</strong> <span id="detalleClavePaciente"></span></p>
                <p><strong>Clave médico:</strong> <span id="detalleClaveMedico"></span></p>
                <p><strong>Padecimiento actual:</strong> <span id="detallePadecimiento"></span></p>
                <p><strong>Tratamiento no farmacológico:</strong> <span id="detalleTratamientoNoFarmacologico"></span></p>
                <p><strong>Tratamiento farmacológico:</strong> <span id="detalleTratamientoFarmacologico"></span></p>
                <p><strong>Categoría del padecimiento:</strong> <span id="detalleCategoriaPadecimiento"></span></p>
                <h5 class="modal-title fuente-seasons fw-bold">Signos Vitales</h5>
                <ul>
                    <li><strong>Peso:</strong> <span id="detallePeso"></span></li>
                    <li><strong>Talla:</strong> <span id="detalleTalla"></span></li>
                    <li><strong>Temperatura:</strong> <span id="detalleTemperatura"></span></li>
                    <li><strong>Frecuencia cardíaca:</strong> <span id="detalleFrecuenciaCardiaca"></span></li>
                    <li><strong>Frecuencia respiratoria:</strong> <span id="detalleFrecuenciaRespiratoria"></span></li>
                    <li><strong>Presión arterial:</strong> <span id="detallePresionArterial"></span></li>
                    <li><strong>Índice de Masa Corporal (IMC):</strong> <span id="detalleIMC"></span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fuente-belleza" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if consultas.has_previous %}
      <li class="page-item fuente-belleza">
        <a class="page-link" href="?page=1{% if mostrar_todas %}&todas=1{% endif %}">&laquo; Primera</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ consultas.previous_page_number }}{% if mostrar_todas %}&todas=1{% endif %}">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item disabled fuente-belleza">
      <span class="page-link">Página {{ consultas.number }} de {{ consultas.paginator.num_pages }}</span>
    </li>

    {% if consultas.has_next %}
      <li class="page-item fuente-belleza">
        <a class="page-link" href="?page={{ consultas.next_page_number }}{% if mostrar_todas %}&todas=1{% endif %}">Siguiente</a>
      </li>
      <li class="page-item fuente-belleza">
        <a class="page-link" href="?page={{ consultas.paginator.num_pages }}{% if mostrar_todas %}&todas=1{% endif %}">Última &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>


{% endblock %}
{% block scripts %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = document.getElementById('detalleConsultaModal');

        modal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;
            const data = button.dataset;

            // Set modal content
            document.getElementById('detalleFecha').textContent = data.fecha;
            document.getElementById('detallePadecimiento').textContent = data.padecimiento;
            document.getElementById('detalleTratamientoNoFarmacologico').textContent = data.tratamientoNoFarmacologico;
            document.getElementById('detalleTratamientoFarmacologico').textContent = data.tratamientoFarmacologico;
            document.getElementById('detalleCategoriaPadecimiento').textContent = data.categoriaPadecimiento;
            document.getElementById('detalleClavePaciente').textContent = data.clavePaciente;
            document.getElementById('detalleClaveMedico').textContent = data.claveMedico;

            // Parse signos vitales
            const signos = JSON.parse(data.signos);

            const setSignoVital = (id, value, unidad = '') => {
                // Obtengo el elemento correspondiente a través de su id
                const elemento = document.getElementById(id);
                // Si el valor no es None y no está vacío
                if (value && value !== "None" && value.trim() !== "") {
                    // Muestro el signo vital y su unidad
                    elemento.textContent = `${value} ${unidad}`;
                } else { // Si el valor es None o esta vacío
                    // Muestro N/A como signo vital
                    elemento.textContent = 'N/A';
                }
            };

            setSignoVital('detallePeso', signos.peso, 'kg');
            setSignoVital('detalleTalla', signos.talla, 'm');
            setSignoVital('detalleTemperatura', signos.temperatura, '°C');
            setSignoVital('detalleFrecuenciaCardiaca', signos.frecuencia_cardiaca, 'ppm'); //bpm a ppm
            setSignoVital('detalleFrecuenciaRespiratoria', signos.frecuencia_respiratoria, 'rpm');
            setSignoVital('detallePresionArterial', signos.presion_arterial, 'mmHg');
            setSignoVital('detalleIMC', signos.imc, 'kg/m')
        });
    });
</script>
{% endblock %}